/*Começo fonte, tamanho e cor de fundo*/
body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px 50px;
}

/*Fim fonte, tamanho e cor de fundo*/

h1 {
    color: red;
    background-color: lightblue
}

h2 {
    color: red;
    background-color: lightblue
}

p {
    text-align: justify;
}

/*Começo das cores dos seis chapéus do texto que define cada um deles*/

#chapeu-branco {
    color: white;
}

/**/
#chapeu-vermelho {
    color: red
}

#chapeu-preto {
    color: black;
}

#chapeu-amarelo {
    color: yellow;
}

#chapeu-verde {
    color: green;
}

#chapeu-azul {
    color: blue;
}

/*Começo das cores dos seis chapéus do texto que define cada um deles*/

table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;

}

/*Padding para definir a distancia e as bordas da tabela*/

th, td {
    padding: 12px 8px
}

th {
    background-color: rgb(21, 4, 98);
    color: white;

}

/*cor de fundo da pag002*/

#pag002 {
    background-color: lightsteelblue
}

/*h1 da pag002*/

h1 {

    color: steelblue
}

/*CSS da Pagina index*/

#index{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
}

.menu{
    width: 100%;
    background-color: blue;
    padding: 10px
}

.menu{
    text-align: center;
}

ul {
    display: inline-block;
    margin-left: 30px;
    margin-right: 25px;
}

li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 25px;
}

/*os nomes do menu seis chapeus, formulario e texto e imagem seis chapeus*/
#menu1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}
/*Fim*/

/*H1 Do Investimentos Financeiros*/
#titulo{

    color: blue;
    font-size: 25px;
    
}

p{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align: left;
}