/*Começo fonte, tamanho e cor de fundo*/
body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px 50px;
}

/*Fim fonte, tamanho e cor de fundo*/

h1 {
    color: red;
    background-color: lightblue
}

h2 {
    color: red;
    background-color: lightblue
}

p {
    text-align: justify;
}

/*Começo das cores dos seis chapéus do texto que define cada um deles*/

#chapeu-branco {
    color: white;
}

/**/
#chapeu-vermelho {
    color: red
}

#chapeu-preto {
    color: black;
}

#chapeu-amarelo {
    color: yellow;
}

#chapeu-verde {
    color: green;
}

#chapeu-azul {
    color: blue;
}

/*Começo das cores dos seis chapéus do texto que define cada um deles*/

table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;

}

/*Padding para definir a distancia e as bordas da tabela*/

th, td {
    padding: 12px 8px
}

th {
    background-color: rgb(21, 4, 98);
    color: white;

}

/*cor de fundo da pag002*/

#pag002 {
    background-color: lightsteelblue
}

/*h1 da pag002*/

h1 {

    color: steelblue
}