/*Começo fonte, tamanho e cor de fundo*/
body {
    background-color: rgb(145, 186, 220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px 50px;
}

/*Fim fonte, tamanho e cor de fundo*/

/*esse é o H1 da pagina seis-chapéus*/
#seischapeus {
    color: red;
}
/*Fim do H1*/

/*H2 da pagina seis-chapéus*/
h2 {
    color: red;
    background-color: lightblue
}
/*fim do H2*/

p {
    text-align: justify;
}

/*Começo das cores dos seis chapéus do texto que define cada um deles*/

#chapeu-branco {
    color: white;
}


#chapeu-vermelho {
    color: red
}

#chapeu-preto {
    color: black;
}

#chapeu-amarelo {
    color: yellow;
}

#chapeu-verde {
    color: green;
}

#chapeu-azul {
    color: blue;
}
/*Começo das cores dos seis chapéus do texto que define cada um deles*/

/*Começo DAS TABELAS*/
table,
th,
td {
    border: 2px solid grey;
    border-collapse: collapse;

}
/*Padding para definir a distancia e as bordas da tabela*/

th,
td {
    padding: 12px 8px
}

th {
    background-color: rgb(21, 4, 98);
    color: white;

}
/*FIM DAS TABELAS*/


/*cor de fundo da pag002*/

#pag002 {
    background-color: lightsteelblue
}

/*h1 da pag002*/

h1 {

    color: steelblue
}

/*CSS da Pagina PRINCIPAL index*/

#index {
    margin: 0%;
    padding: 0%;
    background-color: rgb(227, 237, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 50px 50px;
}

.menu {
    width: 100%;
    background-color: blue;
    padding: 10px
}

.menu {
    text-align: center;
}

ul {
    display: inline-block;
    margin-left: 30px;
    margin-right: 25px;
}

li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 25px;
}

/*os nomes do menu seis chapeus, formulario e texto e imagem seis chapeus*/
#menu1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

#linkinvestimentos{
    color: #FF0000;
    text-decoration: underline;
}

#titulopaginaprincipal {

    color: #9999FF;
    font-size: 25px;

}


p {
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align: left;
}
/*Fim da pagina index*/


/*Pagina investimentos financeiros*/
#financeiros {
    background-color: rgb(72, 168, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin: 0px 50px;
    text-align: left;
}

#titulo {

    color: rgb(226, 51, 51);
    font-size: 50px;
}

#imagemfinanças {

    width: 50%;
}

#h3rendafixa{

    color: rgb(216, 8, 8);
}

#h3rendavariavel{

    color: rgb(216, 8, 8);
}

#paragrafocor{

color: rgb(0, 0, 0);
}
/*FIM DA PAGINA SOBRE INVESTIMENTOS FINANCEIROS*/


/*CODIGO FORMULARIO*/

#corformulario{

    background-color: rgb(86, 86, 184);
}

